:root {
  --blue: #91a7ff;
  --white: #edf2ff;
  --text: #000;
  --darkBlue: #3458ea;
  --gradientLight: linear-gradient(
    125deg,
    rgb(199, 166, 216) 20%,
    rgb(112, 128, 195) 80%
  );
  --gradientDark: linear-gradient(
    125deg,
    rgba(87, 72, 101, 1) 20%,
    rgba(60, 69, 106, 1) 80%
  );
  --bar-width: 3rem;
  --bar-height: 0.2rem;
  --hamburger-gap: 0.8rem;
  --foreground: #333;
  --background: #fff;
  --hamburger-margin: 2rem;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

/* ------------------------ Navigation bar------------------------   */

.nav-bar {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  padding-top: 80px;
  max-width: 80%;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
.nav-link {
  text-decoration: none;
  margin-right: auto;
  color: var(--text);
}

.nav-link:hover {
  color: var(--blue);
}

.hamburger-menu {
  display: none;
}
/* ------------------------ Main container ------------------------  */

.main {
  width: 100%;
  margin: 0 auto;
}

/* ------------------------ Greeting under Nav ------------------------ */

.greet-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  line-height: 1.5;
}
.greet-title,
.contact-title {
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.greet-subtitle,
.contact-subtitle {
  color: var(--blue);
  font-style: italic;
  font-weight: 500;
  font-size: 1.1rem;
}
.greet-description {
  max-width: 40%;
  font-weight: 500;
}

/*------------------------  Information boxes under greeting ------------------------  */

.info-container {
  width: 80%;
  margin: 50px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.info-box {
  background: var(--gradientLight);
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  display: flex;
  border-radius: 5%;
}
.info-box:hover {
  transition: 1s;
  .info-content {
    transition: 1s;
    opacity: 100;
  }
  .info-icon {
    opacity: 0;
  }
}

.info-content {
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

.info-img {
  max-width: 80%;
  max-height: 50%;
  border-radius: 5%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.info-text {
  padding: 0 10%;
}
.info-icon {
  position: absolute;
  stroke: var(--white);
  padding: 30%;
}

/* ------------------------ footer------------------------   */
.footer-container {
  width: 80%;
  margin: 5rem auto 0 auto;
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.footer-icon {
  fill: #5e5e5e;
}

/* ------------------------Kontaktformulär------------------------  */
.contact-container {
  max-width: 700px;
  margin: 6rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.contact-title {
  margin-bottom: 2rem;
}

.contact-icon {
  max-width: 20rem;
  margin: 0 auto;
}

/* ---------------------------- CV ------------------------------ */

.carousel {
  width: 800px;
  padding: 32px 48px 32px 86px;
  margin: 100px auto;
  border-radius: 8px;
  background: var(--gradientLight);
  display: flex;
  align-items: center;
  gap: 86px;
  position: relative;
}
.carousel-img {
  height: 220px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}
.testimonial-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #fff;
}
.testimonial-author {
  font-size: 0.9em;
  margin-bottom: 4px;
  color: #fff;
}
.testimonial-job {
  color: #fff;
  font-size: 0.8em;
}

/* ------------------------Media query för mindre skärmar------------------------  */

@media (max-width: 1200px) {
  .info-content {
    font-size: 1.1rem;
    gap: 2rem;
  }
  .info-container {
    width: 90%;
    gap: 2rem;
  }
  .info-text {
    padding: 0 5%;
  }
}

@media (max-width: 1000px) {
  .greet-description {
    max-width: 70%;
  }
  .info-content {
    font-size: 1rem;
    gap: 1rem;
  }
  .info-container {
    width: 90%;
    gap: 2rem;
  }
  .info-text {
    line-height: 1.1;
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  .greet-description {
    max-width: 80%;
  }
  .info-container {
    grid-template-columns: repeat(1, 1fr);
    max-width: 90%;
  }
  .greet-title {
    letter-spacing: normal;
  }
  .info-content {
    font-size: 1rem;
    gap: 1rem;
    opacity: 100;
  }
  .info-icon {
    opacity: 0;
  }
  .info-text {
    line-height: 1.5;
  }
  .reveal {
    position: relative;
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active {
    opacity: 1;
  }
  .contact-container {
    max-width: 90%;
    margin: 3rem auto 1rem auto;
  }
  .contact-title {
    letter-spacing: normal;
  }
  .contact-subtitle {
    font-weight: 500;
    font-size: 1.1rem;
  }
  /* ///////////////////// Hamburger style nav /////////////////////////// */
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
  }

  .hamburger-menu input,
  .hamburger-menu::before,
  .hamburger-menu::after {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 1000px;
    transform-origin: right center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .nav-link {
    margin: 0 auto;
  }
  .nav-container {
    position: absolute;
    top: 12%;
    left: 0;
    transition: translate var(--animation-timing);
    opacity: 0;
    padding: 5rem 0;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    font-size: 1.2rem;
  }
  .hamburger-menu:has(input:checked) + .nav-container {
    opacity: 100;
  }
  .nav-erik {
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    font-size: 1.2rem;
  }

  /* ----------------------------------------CV ---------------------------------------- */

  .carousel {
    width: 60%;
    flex-direction: column;
    padding: 96px 32px 32px 32px;
    gap: 105px;
  }
  .carousel-img {
    transform: scale(1.7);
  }
}
